@import '../../../styles/variables.scss';

.column {
    display: flex;
    flex-direction: column;
    background: $column-background-color;
    align-items: center;
    padding: 4;
    height: 96vh;
    width: 20vw;
    z-index: 90;
    transition: transform .22s ease-in;
    overflow: auto;
}

.column::-webkit-scrollbar {     
    display: none 
}

.column.close {
    transform: translateX(20vw);
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 95%;
}

.mobCloseButton {
    position: relative;
    right: 45%;
    top: 5%
}

@media screen and (max-width: 960px) {
    .column {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        position: absolute;
        right: -200%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .column.active {
        position: absolute;
        background: #D1F5FF;
        right: 0;
        height: 100%;
        transition: all 0.5s ease;
        z-index: 1;
    }
}