@import '../styles/variables.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 0;
    height: 4.3vh;
    background-color: $header-background-color;
}

.info { 
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    right: 10px;
}


@media screen and (max-width: 960px) {
    .header {
        z-index: 1;
    }
}