.cardInProgress {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background-color: #ddd;
    box-shadow: 0 2px 2px 0px #ccc;
}

.name {
    width: 40%;
    height: .5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    word-break: break-all;
    white-space: pre-wrap;
    overflow: hidden;
    top: 4%;
    padding-bottom: 30px;
}

.description {
    white-space: pre-wrap;
    width: 80%;
    height: 29vh;
    position: relative;
    overflow: auto;
    text-align: justify;
    top: 1em;
    padding-right: 5px;
}

.description::-webkit-scrollbar {
    width: .5em;
}

.description::-webkit-scrollbar-thumb {
    background-color: rgb(203, 203, 203);
    border-radius: 20px;
    border: 3px solid rgb(203, 203, 203);
}

.link {
    position: relative;;
    right: -45%;
}


@media screen and (max-width: 960px) {
    .link {
        right: -38%;
        bottom: -5%;
    }
}