.userCard {
    margin: 0 5px;
    width: 3.8vw;
    height: 11.5vh;
    background-color: #ddd;
    font-size: 75%;
    border-radius: 5px;
    box-shadow: 2px 2px 0px 0px #ccc;

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    &__name {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 5px;
        p {
            margin: 0;
        }
    }

    &__valueCard {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        bottom: -37%;
        width: 45%;
        height: 40%;
        background-color: #7AB6E2;
        border-radius: 3px;

        p {
            font-size: 30px;
        }
    }
}




@media screen and (min-width: 768px) and (max-width: 991px) {
    .userCard {
        width: 4em;
        height: 5em;
        font-size: 22px;
        margin-bottom: 65px;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .userCard {
        width: 4.5em;
        height: 6em;
        font-size: 22px;
        margin-bottom: 65px;
    }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
    .userCard {
        width: 6em;
        height: 8em;
        font-size: 12px;
        margin-bottom: 45px;
    }
}

@media screen and (max-width: 320px) {
    .userCard {
        width: 5em;
        height: 9em;
        font-size: 9px;
        margin-bottom: 60px;
    }
}