.placeholderCard {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #ddd;
    box-shadow: 0 2px 2px 0px #ccc;
    
    &__head {
        display: flex;
        flex-direction: row;
    }

    &__desc {
        display: flex;
        justify-content: center;
        font-size: 25px;
    }

    &__skeleton {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}
