.draggingCard {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  max-width: 85%;
  max-height: 150px;
  padding: 16px;
  margin: 0 0 8px 0;
  background-color: #263B4A;
  color: white;
  border-radius: 5px;
}

.card {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 80%;
  padding: 16px;
  height: 80px;
  margin: 0 0 8px 0;
  color: #000;
  border-radius: 5px;
  background: #fff;
  -webkit-box-shadow: 2px 2px 0px 0px #ccc;
          box-shadow: 2px 2px 0px 0px #ccc;
  direction: ltr;
}

.cardFooter {
  position: relative;
  width: 100%;
  bottom: 23%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.value {
  position: relative;
  top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #C4C4C4;
  background-color: #C4C4C4;
  border-radius: 180px;
  width: 8%;
  height: 12%;
}

.link {
  position: relative;
  top: 1vw;
  right: -.4em;
  text-decoration: none;
}

.cardHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cardHeader .name {
  width: 11em;
  height: 2em;
  word-break: break-all;
  white-space: pre-wrap;
  overflow: hidden;
}

.descriptionBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 15px;
  height: 30%;
  width: 100%;
  overflow: hidden;
}

.descriptionBlock .description {
  width: 40%;
  word-break: break-all;
  white-space: pre-wrap;
}

.descriptionBlock .more {
  cursor: pointer;
  position: relative;
  bottom: -4px;
  width: 90px;
  z-index: 50;
}

.descriptionBlock .more:hover {
  color: blue;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  height: 12px;
  width: 70px;
}
/*# sourceMappingURL=DragCard.module.css.map */