@import '../../styles/variables.scss';

.draggingCard {
    user-select: none;
    max-width: 85%;
    max-height: 150px;
    padding: 16px;
    margin: 0 0 8px 0;
    background-color: #263B4A;
    color: white;
    border-radius: 5px;
}


.card {
    user-select: none;
    width: 80%;
    padding: 16px;
    height: 80px;
    margin: 0 0 8px 0;
    color: #000;
    border-radius: 5px;
    background: $dragCard-bacgrond-color;
    box-shadow: 2px 2px 0px 0px #ccc;
    direction:ltr;
}


.cardFooter {
    position: relative;
    width: 100%;
    bottom: 23%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.value {
    position: relative;
    top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #C4C4C4;
    background-color: #C4C4C4;
    border-radius: 180px;
    width: 8%;
    height: 12%;
}

.link {
    position: relative;
    top: 1vw;
    right: -4%;
    text-decoration: none;
}

.cardHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    .name {
        width: 11em;
        height: 2em;
        word-break: break-all;
        white-space: pre-wrap;
        overflow: hidden;
    }
}

.descriptionBlock {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 15px;
    height: 30%;
    width: 100%;
    overflow: hidden;

    .description {
        width: 40%;
        word-break: break-all;
        white-space: pre-wrap;
    }

    .more {
        cursor: pointer;
        position: relative;
        bottom: -4px;
        width: 90px;
        z-index: 50;
    }

    .more:hover {
        color: blue;
    }
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    height: 12px;
    width: 70px;
}