.column {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4;
    height: 100vh;
    width: 60vw;
    z-index: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.cardPlaceholder {
    top: -20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 43%;
    border-radius: 5px;
    background-color: #ddd;
}


.users {
    top: -15px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 77%;
    height: 27%;

    .firstRow {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 47%;
    }

    .secondRow {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 47%;
    }
}


.voteCards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 55%;
    height: 10%;
    bottom: 8%;
}

.revote {
    position: absolute;
    bottom: 8.5%;
}

.revoteAll {
    position: absolute;
    bottom: 8.5%;
}

.reveal {
    position: absolute;
    right: 2%;
    bottom: 8.5%;
    width: 15.3%;
}

.nextTask {
    position: absolute;
    right: 2%;
    bottom: 8.5%;
}

@media screen and (max-width: 960px) {
    .column {
        width: 100vw;
    }

    .reveal {
        position: absolute;
        right: 3%;
        bottom: 3.2%;
    }
}