.column {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4;
    height: 100vh;
    width: 60vw;
    z-index: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.cardPlaceholder {
    top: -20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 43%;
    border-radius: 5px;
    background-color: #ddd;
}

.users {
    top: -12px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    height: 25%;
    border: 1px solid black;
}


@media screen and (max-width: 960px) {
    .column {
        width: 100vw;
    }
}