.column {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4;
    height: 100vh;
    width: 60vw;
    z-index: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}



@media screen and (max-width: 960px) {
    .column {
        width: 100vw;
    }
}